# Ignore build files
*.o
*.exe
*.out

# Ignore compiled binaries
storage_cli
file_write_compressed
file_read_decompression
delete_file

# Ignore metadata and test data
*.meta
*.bin
*.txt
*.pdf
*.xml
hash_index.txt

# Ignore system files
.DS_Store
Thumbs.db
